:root {
    /* background-color: rgb(155, 126, 184); */
}

.navbarr {
    display: flex;
    background-color: darkslategray;
    height: 20%;
    width: 100%;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* .main-container {
    background-color: rgb(231, 215, 247);
    position: fixed;
    height: 100%;
    width: 100%;
} */

/* .title {
    font-weight: 750;
} */

/* .flexMePls {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 5rem;
    margin-top: 1rem;
} */

/* .question-list {
    list-style-type: none;
} */

/* .list {
    list-style-type: none;
    border: .3rem solid black;
    border-radius: 30px;
    padding: .5rem;
    width: 25rem;
    margin: 1rem;
    background-color: bisque;
} */

/* .link {
    font-size: 2rem;
} */

/* .create-container {
    /* background-color: rgb(155, 126, 184); */
    /* position: fixed;
    height: 100%;
    width: 100%;
}  */

/* .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    margin-top: 10rem;
    border: .5rem solid black;
    background-color: bisque;
} */

/* .title-container {
    height: 2rem;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 35rem;
} */

/* .content-container {
    height: 5rem;
    width: 40rem;
    margin-bottom: 1rem;
    margin-left: 25rem;
} */

/* .create-question {
    margin-top: 5rem;
} */

/* .submit {
    height: 2rem;
    width: 20rem;
    margin-left: 35rem;
} */

/* .specific-container {
    margin-top: 2rem;
    margin-left: 40rem;
    margin-bottom: 2rem;
} */

/* .answer-container {
    list-style-type: none;
    margin-top: 3rem;
    margin-left: 40rem;
} */

/* .container {
    /* background-color: rgb(155, 126, 184); */
    /* position: fixed;
    height: 100%;
    width: 100%;
} */ 